/1-7d406bbd-56c1-484d-a88c-29e6db1533e0.pdf
/11257_3_7958911_1746940243_AWS Course Completion Certificate.pdf
/agent_performance_summary.csv
/Anaconda3-2024.02-1-Windows-x86_64.exe
/apache-maven-3.9.9-bin.zip
/Blockchain Technology Text Book.pdf
/Cloud Computing TB-1.pdf
/Cloud Computing TB-2.pdf
/code.py
/desktop.ini
/DOC-20241115-WA0002..pdf
/Drdo internship HoD confirmation Letter-1.pdf
/drivedetect.exe
/ECS Syllabus.pdf
/Enhanced_Gait_Recognition_Presentation.pdf
/Enhanced_Gait_Recognition_Presentation.pptx
/full_5phase.xlsx
/Gait_Identification_using_Deep_Convolutional_Network_and_Attention_Technique.pdf
/gradle-8.14-bin.zip
/HOD_request_letter.docx
/HoD_Seal.png
/HOD_Sign.png
/House Price Prediction (Project Video).mp4
/IIT-Bhubaneshawar Internship Application.pdf
/IJCNA_updated_with_original_content.docx
/Internship Certificate (DRDO)_page-0001.jpg
/inventory.ini
/jdk-17.0.12_windows-x64_bin.exe
/jenkins(1).msi
/LUEHTMLJUL12422.pdf
/Machine Learning Text Book.pdf
/Major Project Phase-1 Report.doc
/Major_Project_Phase-1 (final).pptx
/Manuscript.pdf
/ML op.docx
/NominatedNodalOfficersforFraudPreventionPolicy.pdf
/Optimized_Recognition_of_Gait_Swing_Phases_with_Convolutional_and_Recurrent_Neural_Networks.pdf
/playbook.yml
/pycharm-community-2024.1.4-aarch64.exe
/pycharm-community-2024.1.4.exe
/pycharm-professional-2024.1.4(1).exe
/python-3.13.2-amd64.exe
/Request Letter to Director, DEBEL, DRDO.pdf
/research paper 1.docx
/research paper 1.pdf
/Research_Paper(Co).pdf
/Research_Papers.pdf
/RM&IPR PPT in PDF.pdf
/rnn_2.5_7phase.xlsx
/SEMP Mod-2 IMP ques (ISE) .pdf
/Sentiment Analysis of Product Reviews for ECommerce Recommendation based on Machine.pdf
/slack.txt
/StudentAcknowledgment.pdf
/toc ass-1.pdf
/VC_redist.x64.exe
/vineeth_cv.tex
/Vineeth_Y (updated).pdf
/Vineeth_Y_CV.pdf
/VirtualBox-7.0.18-162988-Win.exe
/VSCodeUserSetup-x64-1.97.2.exe
/www.5MovieRulz.shop - KA (2024) 720p Telugu HQ HDRip - x264 - (DD_5.1 - 192Kbps _ AAC 2.0) - 1.5GB.mkv
/www.5MovieRulz.vet - Sapta Sagaradaache Ello - Side B (2023) Kannada HQ HDRip - x264 - AAC - 700MB ESub.mkv
/Y Vineeth_Request Letter_DEBEL_DRDO-1_signed.pdf
/Y Vineeth_Request Letter_DEBEL_DRDO.pdf
/young_turks_round_1_achievement.pdf
/YVineeth_DRDO(DEBEL)_Availability.pdf
/YVineeth_DRDO(DEBEL)_HOD&Principal_Attestation.pdf
/YVineeth_HCLTech_Transcripts.pdf
/Y_Vineeth_CV.pdf
/Y_Vineeth_CV_DEBEL_DRDO.pdf
/Y_Vineeth_Marksheet.pdf
/Y_Vineeth_MS.pptx
/ZoomInstallerFull.exe